@{
    ViewData["Title"] = "All you ever need to know";
}
<div class="text">
    <h2>@ViewData["Title"]</h2>
    <h2>@ViewData["afterThought"]</h2>
</div>
<div class="pic">
    <img src="~/images/bapu.JPG" alt="my bo">
</div>
