<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="~/css/site.css" />
    @{
        Layout = "_Layout";
    }
    <body>
        <h1>portfolio1 home page</h1>
        <h1>about</h1>
        <img src="" alt="someimage">
        <p>she summoned a huntsman and said to him, 'Take Snow-White out into the woods. I never want to see her again. Kill her, and as proof that she is dead bring her lungs and her liver back to me.'</p>
        <p>As he thus spoke, the good dwarfs felt pity for him and gave him the coffin. The prince had his servants carry it away on their shoulders. But then it happened that one of them stumbled on some brush, and this dislodged from Snow-White's throat the piece of poisoned apple that she had bitten off. Not long afterward she opened her eyes, lifted the lid from her coffin, sat up, and was alive again.</p>
        <p>Snow-White's godless stepmother was also invited to the feast. After putting on her beautiful clothes she stepped before her mirror and said:
            Mirror, mirror, on the wall, 
            Who in this land is fairest of all?
            The mirror answered:
            You, my queen, are fair; it is true. 
            But the young queen is a thousand times fairer than you.
            The wicked woman uttered a curse, and she became so frightened, so frightened, that she did not know what to do. At first she did not want to go to the wedding, but she found no peace. She had to go and see the young queen. When she arrived she recognized Snow-White, and terrorized, she could only stand there without moving.
            Then they put a pair of iron shoes into burning coals. They were brought forth with tongs and placed before her. She was forced to step into the red-hot shoes and dance until she fell down dead.</p>
    </body>
</html>
