<h1>Welcome to DouQuo QuoDou</h1>
<hr>
<form action="/submit" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="Snow White">
    <label for="quote">Quote: </label>
    <textarea name="quote" placeholder="Am Morgen ein Joint und der Tag ist dein Freund!" rows="10" cols="30"></textarea>
    <input type="submit" value="Button of no return ....">
</form>