@model List<Cook>

<div class="main">
    <a asp-controller="Cook" asp-action="New">Add a Cook</a>
    <h2>Our rosy Chefs</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># Dishes</th>
        </tr>
        @foreach(Cook cook in Model)
        {
            <tr>
                <td>@cook.FirstName @cook.LastName</td>
                <td>@cook.Age</td>
                <td>@cook.NumberOfDishes</td>
            </tr>
        }
    </table>
</div>