@model Survey

<h1>Thanks for submitting the Survey @Model.name</h1>

<h2><strong>Name: </strong> @Model.Name</h2>
<br/>
<h2><strong>Location: </strong> @Model.Location</h2>
<br/>
<h2><strong>Name: </strong></h2>
<p>@Model.Message</p>
