<!-- <form method="POST" action="/setName">
    <label for="name">Give your Dachi a name: </label>
    <input type="text" name="name" placeholder="Mochi">
    <input type="submit" value="Start">
</form> -->

<a href="/feed"><button>Feed Dachi</button></a>
<a href="/play"><button>Play with Dachi</button></a>
<a href="/work"><button>Make Dachi Work</button></a>
<a href="/sleep"><button>Put Dachi to sleep</button></a>
