<a href="login">Login</a>

<h2>Register here</h2>
<form asp-action="register" asp-controller="Login" metho="POST">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName"></label>
    <input type="text" asp-for="FirstName">

    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"></label>
    <input type="text" asp-for="LastName">

    <span asp-validation-for="Email"></span>
    <label asp-for="Email"></label>
    <input type="text" asp-for="Email">

    <span asp-validation-for="Password"></span>
    <label asp-for="Password"></label>
    <input type="text" asp-for="Password">

    <span asp-validation-for="Confirm"></span>
    <label asp-for="Confirm"></label>
    <input type="text" asp-for="Confirm">

    <input type="submit" value="Submit">
</form>
