@model List<Dish>

    <a asp-controller="Dish" asp-action="New">Add a Dish</a>


<div class="main">
    <h2>Our most recent Dishes</h2>
    @foreach(Dish dish in Model)
    {
        <p><a href="dishDetails/@dish.DishId">@dish.Name</a> - made by @dish.Cook</p>
    }
    <hr>
</div>

 